.info {
  display: flex;
  justify-content: center;

  &_options {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &_content {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
}
