.divider {

  &_skin {
    &--default-010 {
      background-color: var(--color-default-010);
    }
  }

  &--h {
    width: 100%;
    height: 1px;
  }

  &--v {
    width: 1px;
    height: 100%;
  }
}
